@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68
}

.heading1 {
    font-size: 64px;
    color: #1F3F68
}

.heading2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center
}

.heading3 {
    font-size: 36px;
    text-align: center
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4
}

.submit {
    background: linear-gradient(to right, rgb(73, 117, 230), rgb(140, 85, 233));
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    padding: 5px 20px;
}

.form {
    background-image: url('../img/фон.jpeg');
    width: 240px;
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
}

.breadcrumbs ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    background: linear-gradient(white, rgb(66, 132, 133));
    overflow: hidden;
}

.breadcrumbs li {
    margin: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -2px 0 2px #FFFFFF inset, 2px 0 2px #000000;
}

.breadcrumbs a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}